
h2{
  color: white;
  text-decoration: underline;
  margin: 5px;
}

h3 {
  color: rgb(111,159,248);
  margin: -5px;
}

h4 {
  color: white;
  margin: 6px;
}

body {
  /* width: 1395px; */
  margin: 0 auto;
  color: white;
  font-size: 17.5px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(111,159,248);
}
 /* header{
   margin:0;
 } */

.wrapper {
    float: left;
}

.one {
  width: 50%;
  margin: 5px;
  padding: 0;
  margin-left: 50px;
}
.two {
  width: 45%;
  margin: 5px;
  padding: 0;
}

#miami{
  color: red;
}

#ab{
  color:orange;
}

#hhs{
  color: yellow;
}

#lax{
  color: green;
}

#pref{
  color: blue;
}

#social{
  color: indigo;
}

#me{
  color: violet;
}
