
h2{
  color: white;
  text-decoration: underline;
  margin: 5px;
}

h3 {
  color: rgb(111,159,248);
  margin: 0;
}

h4 {
  color: white;
  /* margin: 0; */
}

body {
  width: 1395px;
  margin: 0 auto;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(111,159,248);
}

.wrapper {
    float: left;
}

.one {
  width: 45%;
  margin: 5px;
  padding: 0;
}
.two {
  width: 45%;
  margin: 5px;
  padding: 0;
}

#miami{
  color: red;
}

#ab{
  color:orange;
}

#hhs{
  color: yellow;
}

#lax{
  color: green;
}
