/* body{
  background-image: url("Imgages/school.jpg");
  margin: 0;
} */

nav {
  grid-area: nav;
  margin: 0;
  background-color: black;
  color: white;
  top: 0;
  width: 100%;
}

nav ul {
  margin: 0;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  font-family:"Limelight";
  color: white;
  font-size: 18pt;
  padding: 10px;
}

nav ul li a:hover{
  color: black;
}

img{
  width: 16.35%;
  height: 16.35%;
  margin: 0;
}

h1{
  text-align: center;
}
