body{
  margin: 0;
  background-color: black;
}

#backimage {
  background-image: url("Imgages/school.jpg");
}

nav {
  grid-area: nav;
  margin: 0;
  background-color: black;
  color: white;
  top: 0;
  width: 100%;
}

nav ul {
  margin: 0;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  font-family:"Limelight";
  color: white;
  font-size: 18pt;
  padding: 10px;
}

nav ul li a:hover{
  color: black;
  background-color: pink;
}

img{
  /* width: 16.35%;
  height: 16.35%; */
  margin: 0;
  max-width: 100%;
  height: auto;
}

h1{
  text-align: center;
  background-color: black;
  color: white;
}

footer{
  background-color: black;
  color: white;
  height: 50px;
  margin-top: 25px;
  margin-left: 5px;
}
.rainbow{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: black;
}
.container{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 10px;
  justify-content: center;
  background-color: black;
}

/* #black{
  background-color: black;
} */
